.products
    height: 1133.34px
    width: 100%
    padding: 60px 0
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/shapelogic/productsectionbg.png')
    background-position: center



    .container
        width: 900px
        margin: 0 auto

        h1
            font-size: 48px
            font-weight: bold
            margin: 0 0 20px 0
            text-align: center

    &__list
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 2rem

    &__item
        height: 250px
        background-color: #ffffff
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        gap: .5rem
        text-align: center
        padding: .5rem
        border: 1px solid #1E962A
        border-radius: 8px
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)

        img
            width: auto
            height: 150px
            object-fit: cover

        h2
            font-size: 1.75rem
            font-weight: bold

        p
            font-size: 1.5rem
            font-weight: bold