.hero
    position: relative
    width: 100%
    height: 377.78px

    svg
        position: absolute
        bottom: 0
        right: 0

    .container
        width: 900px
        margin: 0 auto
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        height: 100%
        gap: 20px
        position: relative
        z-index: 1

        h1
            font-size: 48px
            font-weight: bold
            span
                color: #1E962A