.footer
    height: 188.89px
    width: 100%
    background-color: #1E962A
    display: flex
    justify-content: center
    align-items: center
    justify-content: center
    font-size: 14px
    text-align: center
    color: #fff

    .container
        width: 900px
        margin: 0 auto

    nav
        display: flex
        gap: 20px
        justify-content: center
        align-items: center

        ul
            display: flex
            gap: 20px
            list-style: none
            li
                a
                    color: #fff
                    text-decoration: none
                    font-weight: bold
                    &:hover
                        text-decoration: underline